<section class="tab-container">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="material-symbols-outlined">done_outline </mat-icon>
        Obter Documentação
      </ng-template>
      <ul>
        <li style="list-style-type: none">
          <mat-icon class="material-symbols-outlined color-green"
            >done_outline </mat-icon
          >Aguardando Documentação
        </li>
        <li style="list-style-type: none">
          <mat-icon class="material-symbols-outlined color-red">
            gpp_bad </mat-icon
          >Aguardando identidade do José
        </li>
      </ul>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="material-symbols-outlined">done_outline </mat-icon>
        Aguardando assinaturas
      </ng-template>
      Content 2
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="material-symbols-outlined">done_outline </mat-icon>
        Processo Finalizado
      </ng-template>

      Content 3
    </mat-tab>
  </mat-tab-group>
</section>
