.form-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px;
}
.form {
  display: flex;
}

.form-group {
  display: flex;
  margin-top: 12px;
  align-items: center;
  margin-bottom: 16px;
}
.form .form-group button {
  margin-bottom: 12px;
}

mat-form-field {
  display: flex;
  margin-right: 16px;
}
