<section class="container-footer">
  <section>
    <img
      src="../../../../assets/icons/phone-office.svg"
      alt="telefone para contato"
    />
    <p>3601-1368</p>
  </section>
  <section>
    <img src="../../../../assets/image/email.png" alt="telefone para contato" />
    <p>{{ email }}</p>
  </section>
  <section>
    <img
      src="../../../../assets/image/localizacao.png"
      alt="telefone para contato"
    />
    <p>R. Dr. Ézio Carneiro - St. Aeroporto, Luziânia - GO, 72800-420</p>
  </section>
</section>
