c-carousel {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
c-carousel-inner {
  max-width: 80%;
}
c-carousel-control {
  width: auto;
  margin: 150px;
  display: none;
}
.visually-hidden {
  border: 1px solid red;
}

@media (max-width: 650px) {
  c-carousel-control {
    display: none;
  }
  ::ng-deep .carousel-indicators {
    display: none;
  }
}
